

<!-- === INICIO INCLUSION BARRA LATERAL === -->
<div class="container-fluid">
  <div id="wrapper">
   <div id="BarraLateral"></div>  

   <!-- === FIN  BARRA LATERAL === -->      
   <br><!--Saltos de Linea-->
   <br>
   <br>
   <!-- === INICIO CONTENIDO DE LA VENTANA === -->
   <div id="page-content-wrapper">
     <div class="container-fluid">
      <div class="row">
<form role="form" id="form" data-toggle="validator">
        <!-- === INICIO PANEL DE EDICIÓN === -->   
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Pagar un nuevo servicio con Tarjeta de Debito</h3>
          </div>
          <div class="panel-body">
            Por favor indica todos tus datos bancarios de tu tarjeta de debito para pagar por el servicio


             <!-- === INPUTS TXT === -->  

              <div class="form-group">
              <label for="ejemplo_text_1">Seleccione el banco</label>
              <select name="Bank" id="cmbBank" class="form-control" >
                  
              </select>
            </div>
             <div class="form-group">
              <label for="ejemplo_text_1">Numero de Tarjeta</label>
              <input class="form-control" type="text" name="codtdc" id="txtCodTDC"  placeholder="Numero impreso en la tarjeta"/>
              <div id="id-error" style="color:red;">
    <label for="name" class="error" generated="true" ></label>

</div>
              </div>
             
             <div class="form-group">
              <label for="ejemplo_text_1">Clave de Cuenta</label>
              <input type="password" class="form-control" name="Password" id="txtPassword" placeholder="Clave" />
            </div>
              <div class="form-group">
              <label for="ejemplo_text_1">Cedula del Cliente</label>
              <input type="text" class="form-control" name="codcustomer" id="txtCedula" placeholder="Cedula del Cliente" />
               <div class="form-group">
              <label for="ejemplo_text_1">Monto</label>
              <input type="text" class="form-control" name="mount" id="txtMonto" placeholder="Monto de la Operación" />
            </div>
            <label for="ejemplo_text_1"></label>
              <input class="form-control" type="text"  style="visibility:hidden" name="Idn" id="txtIdn"/>

         </div>

          <!-- === BOTONES === -->  
            <button type="submit" id="Guardar" class="btn btn-lg btn-success">PAGAR</button>
           
             <!-- === FIN BOTONES === -->  
          
        </div>
       
    </div>
    <!-- === FIN CONTENIDO DE LA VENTANA === -->
  </form>

  </div>
</div>
</div>
<!-- === FIN CONTENIDO DE LA VENTANA === -->

</div>
<!-- /#wrapper -->
</div>

<script>




</script>

<!-- TOGGLE para que el menu superior sea responsivo -->
<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>


  
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "bootbox.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js" %>
<%= stylesheet_link_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" %>

<%= javascript_include_tag "jquery.validate.js" %>
<%= javascript_include_tag "additional-methods.js" %>
<%= javascript_include_tag "messages_es.js" %>

<%= javascript_include_tag "jquery.dataTables.js" %>
<%= javascript_include_tag "bootstrap-treeview.js" %>

 
<%= javascript_include_tag "fnReloadAjax.js" %>

<%= javascript_include_tag "PayServicestdb.js" %>


  <style>
.error {
    color:red;
}
.valid {
    color:green;
}
</style>
