
  <!-- === INICIO CONTENIDO DE LA VENTANA === -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
  
      <form role="form" id="form" data-toggle="validator">
        <!-- === INICIO PANEL DE EDICIÓN === -->  
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Gestión de Campañas</h3>
           </div>
          
          <div class="panel-body">
            En este panel podrá agregar, modificar o eliminar las Campañas del CRM.
              <p></p>
             <!-- === INPUTS TXT === -->  

        <div id="ModalNewCampaing" class="modal fade" role="dialog">
         <div class="modal-dialog">
          <div class="panel panel-primary" align="center">
            <div class="panel-heading">
                <h2 class="text-center"> Datos de la Campaña </h2>
            </div>

         
            <div class="form-group col-md-6">
              <label for="ejemplo_email_1">Nombre</label>
               <input type="text" class="form-control" id="txtNombre"
                      placeholder="Nombre de La Campaña Publicitaria" name="Nombre">
            </div>

            <div class="form-group col-md-6">
             <label for="ejemplo_email_1">Fecha De Inicio</label>
             <input type="Date" class="form-control" id="txtFechaInicio"
                    placeholder="Fecha de Inicio" name="FechaInicio">
            </div>

            <div class="form-group col-md-6">
              <label for="ejemplo_email_1">Fecha De Fin</label>
              <input type="Date" class="form-control" id="txtFechaFinal"
                     placeholder="Fecha Final" name="FechaFinal">
            </div>

            <div class="form-group col-md-6">
              <label > Tipo De Cliente</label>
              <select id="cmbTipoCliente" class="form-control" name="TipoCliente">
                <option>Seleccione Un Cliente</option>
                <option>Vip Platinio</option>
                <option>Vip Gold</option>
                <option>Vip </option>
              </select>
            </div>
 
            <div class="form-group col-md-6">
             <label for="ejemplo_email_1">Descripcion</label>
             <input type="text" class="form-control" id="txtDescipcion"
                    placeholder="Descripcion de la Campaña Publicitaria" name="Desceripcion">
            </div>

           <div class="form-group col-md-6">
            <label for="ejemplo_password_1">Edad Inicial</label>
            <input type="number" class="form-control" id="txtEdadInicio" 
                   placeholder="Edades Desde" name="EdadInicio">
           </div>
  
           <div class="form-group col-md-6">
             <label for="ejemplo_password_1">Edad Final</label>
             <input type="number" class="form-control" id="txtEdadFinal" 
                    placeholder="Edades Hasta" name="EdadFinal">
           </div>

  
           <div class="form-group col-md-6">
             <label > Sexo</label>
             <select id="cmbSexo" class="form-control" name="Sexo">
               <option>Seleccione Un Sexo Al que va Dirigido</option>
               <option>Masculino</option>
               <option>Femenino</option>
               <option>Otro</option>
               <option>Ambos</option>
             </select>
           </div>

           <div class="form-group col-md-6">
             <label > Operador</label>
             <select id="cmbOperador" class="form-control" name="Operador">
               <option>Tipo de Operador</option>
               <option>LUIS HEREDIA</option>
               <option>ISABEL MOSQUERA</option>
               <option>ORIANA ALVARADO</option>
               <option>DELIA REYESZUMETA</option>
             </select>
          </div>

          <div class="form-group col-md-6">
          <label > Actividad</label>
          <select id="cmbTipoActividad" name="TipoActividad" class="form-control">
           <option>Tipo de Actividad</option>
          </select>
          </div>

          <div class="form-group col-md-6">
          <label > Flayer de la Campaña&nbsp;</label>
          <input type="file" name="Flayer" id="txtFlayer">
          </div>

            
        <label for="ejemplo_text_1"></label>
        <input class="form-control" type="text"  style="visibility:hidden" name="Id" id="txtId"/>

        <div class="modal-footer">
          <!-- === BOTONES === -->  
          <button type="submit" id="Guardar" class="btn btn-lg btn-info">Guardar</button>
          <button type="submit" id="Modificar" class="btn btn-lg btn-info">Modificar</button>
          <button type="submit" id="Eliminar" class="btn btn-lg btn-info">Eliminar</button>
          <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
             <!-- === FIN BOTONES === -->  
        </div>
     </div> <!-- === panel-body === -->  
     </div>

   </div> <!-- === FIN MODAL=== -->  


     </div>   <!-- === FIN MODAL === -->  
           <div class="panel panel-primary">
        <div class="panel-body">
          <p>
               <!-- === BOTONES === -->  
            <div class="form-group col-md-6" style="margin-top:10px" align="center">
                 <!-- === BOTONES DE ACCION === -->  
              <button type="button" class="btn btn-lg btn-info" data-toggle="modal" 
                      data-target="#ModalNewCampaing">Agregar Nueva Campaña</button>
              <button type="button" class="btn btn-lg btn-info">Salir</button>
          </div>
        </p>
        </div>
             <!-- === FIN BOTONES === -->  
      </div>
     </div>
    <!-- === FIN CONTENIDO DE LA VENTANA === -->
  </form>
  



  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Lista de Campañas</h3>
    </div>
    <div class="panel-body">
      Puede visualizar las Campañas actualmente almacenados en el sistema

      <div id="TablaCampaing">
      </div>     
    <!-- ====== FIN DATATABLE======= -->
    </div>
  </div>

<style type="text/css">
    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
          -webkit-border-radius: 28;
          -moz-border-radius: 28;
          border-radius: 28px;
          font-family: Arial;
          color: #ffffff;
          font-size: 9px;
          background: #3498db;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }
</style>

</div>
  </div> 
</div>

<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "bootbox.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js" %>
<%= stylesheet_link_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" %>

<%= javascript_include_tag "jquery.validate.js" %>
<%= javascript_include_tag "additional-methods.js" %>
<%= javascript_include_tag "messages_es.js" %>

<%= javascript_include_tag "jquery.dataTables.js" %>
<%= javascript_include_tag "bootstrap-treeview.js" %>

 
<%= javascript_include_tag "fnReloadAjax.js" %>

<%= javascript_include_tag "NewCampaing.js" %>

  
  <!-- jQuery -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>


  

  <style>
.error {
    color:red;
}
.valid {
    color:green;
}
</style>
