

  <!-- === INICIO CONTENIDO DE LA VENTANA === -->
   <div id="page-content-wrapper">
     <div class="container-fluid">
      <div class="row"> 
        
        <form role="form" id="form" data-toggle="validator">
        <!-- === INICIO PANEL DE EDICIÓN === -->   

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Gestión de Ciudad</h3>
          </div>
          <div class="panel-body">
            En este panel podrá agregar ciudades del CRM.
          <p></p>
       
         <div id="ModalNewCity" class="modal fade" role="dialog">
         <div class="modal-dialog">
           <div class="panel panel-primary" align="center">
           <div class="panel-heading">
                <h2 class="text-center"> Datos de la Ciudad </h2>
            </div>

             <!-- === INPUTS TXT === -->  
             <div class="form-group required" align="center">
              <label for="ejemplo_text_1">País al que pertenece</label>
              <select name="Pais" id="cmbPais" class="form-control" >
              </select>
              </div>
              
              <div id="id-error" style="color:red;">
             <label for="name" class="error" generated="true" ></label>
              </div>
                         
              <div class="form-group required" align="center">
                <label>Selecione Un Estado</label>
                  <select name="Estado" id="cmbEstado" class="form-control">
              </select>
            </div>
             
              <div class="form-group required" align="center" >
             <label for="ejemplo_text_1">Ciudad</label>
                <input class="form-control" type="text" id="txtCiudad" placeholder="Nombre de la Ciudad" name="Ciudad">
             </div>

             
            <label for="ejemplo_text_1"></label>
            <input class="form-control" type="text"  style="visibility:hidden" name="IdCiudad" id="txtIdCiudad"/>
        <div class="modal-footer">
          <!-- === BOTONES === -->  
          <button type="submit" id="Guardar" class="btn btn-lg btn-info">Guardar</button>
          <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
             <!-- === FIN BOTONES === -->  
        </div>
         </div>
           </div>  <!-- === FIN MODAL === -->  
        </div>

    </div>
    <!-- === FIN CONTENIDO DE LA VENTANA === -->
  </form>

          <div class="panel panel-primary">
         <div class="panel-body">
           <p>
          <!-- === BOTONES === -->  
            <div class="form-group col-md-6" style="margin-top:10px" align="center">
                 <!-- === BOTONES DE ACCION === -->  
                 <button type="button" class="btn btn-lg btn-info" data-toggle="modal" 
                          data-target="#ModalNewCity">Agregar Nueva Ciudad</button>
               </div>
             <!-- === FIN BOTONES === -->  
          </p>
        </div>
      </div>

</div>
  
  <!-- === PANEL DE TABLA === --> 

    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Lista de Ciudades</h3>
    </div>
    <div class="panel-body">
      Puede visualizar las Ciudades actualmente almacenados en el sistema
    <div id="TablaCiudad"></div>
        <!-- ====== FIN DATATABLE======= -->
   </div>
           
    </div>
  </div>
<!-- you need to include the shieldui css and js assets in order for the grids to work -->


<style type="text/css">
    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
          -webkit-border-radius: 28;
          -moz-border-radius: 28;
          border-radius: 28px;
          font-family: Arial;
          color: #ffffff;
          font-size: 9px;
          background: #3498db;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }
</style>


<!-- Bootstrap Editable Grid - END -->

</div>


<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "bootbox.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js" %>
<%= stylesheet_link_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" %>

<%= javascript_include_tag "jquery.validate.js" %>
<%= javascript_include_tag "additional-methods.js" %>
<%= javascript_include_tag "messages_es.js" %>

<%= javascript_include_tag "jquery.dataTables.js" %>
<%= javascript_include_tag "bootstrap-treeview.js" %>

 
<%= javascript_include_tag "fnReloadAjax.js" %>

<%= javascript_include_tag "newCity.js" %>


<!-- TOGGLE para que el menu superior sea responsivo -->
     <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

  <style>
.error {
    color:red;
}
.valid {
    color:green;
}
</style>