
<!-- === INICIO INCLUSION BARRA LATERAL === -->
   <!-- === INICIO CONTENIDO DE LA VENTANA === -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row"> 

   <!-- === INICIO CONTENIDO DE LA VENTANA === -->
    <form role="form" id="form" data-toggle="validator">
        <!-- === INICIO PANEL DE EDICIÓN === -->   
      <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Datos de Redes Sociales</h3>
        </div>
        <div class="panel-body">
            En este panel podrá agregar datos de Redes Sociales.
        <p></p>
        

 <!--INFORMACIÓN DEL MODAL MOSTRAR Servicio -->
       <div id="myModalServiceNew" class="modal fade" role="dialog">
         <div class="modal-dialog">

           <!-- CONTENIDO MODAL Servicios-->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="text-center"> Datos de Redes Sociales </h2>
              </div>

              <div class="form-group" align="center">
                <label for="ejemplo_text_1">Red Social</label>
                <input class="form-control" id="txtRedSocial" placeholder="Red Social" name="RedSocial">
              </div>
   
              <label for="ejemplo_text_1"></label>
              <input class="form-control" type="text"  style="visibility:hidden" name="IdRedSocial" id="txtIdRedSocial"/>
                           
              <div id="id-error" style="color:red;">
               <label for="name" class="error" generated="true" ></label>
              </div>
            
              <div class="modal-footer">
                <button type="submit" id="Guardar" class="btn btn-lg btn-info">Guardar</button>
                <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
              </div>    
          </div>
          </div>
        </div>
        </div>
  
    </form>

        <div class="panel panel-primary">
         <div class="panel-body">
          <!-- === BOTONES === -->  
            <div class="form-group col-md-6" style="margin-top:10px" align="center">
                 <!-- === BOTONES DE ACCION === -->  
                 <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModalServiceNew">Agregar Redes Sociales</button>
             </div>
             <!-- === FIN BOTONES === -->  
         </div>
        </div>
      </div>
    <!-- === FIN CONTENIDO DE LA VENTANA === -->
 
  <!-- === PANEL DE TABLA === --> 
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de Redes Sociales</h3>
  </div>
  <div class="panel-body">
      Puede visualizar las Redes Sociales actualmente almacenados en el sistema
     <div id="TablaSocialMedia"></div>   
    <!-- ====== FIN DATATABLE======= -->
 </div>
</div>


<style type="text/css">
    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
          -webkit-border-radius: 28;
          -moz-border-radius: 28;
          border-radius: 28px;
          font-family: Arial;
          color: #ffffff;
          font-size: 9px;
          background: #3498db;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }
</style>

<!-- Bootstrap Editable Grid - END -->

</div>
    <!-- ====== FIN DATATABLE======= -->
  </div>
</div>

  <!-- TOGGLE para que el menu superior sea responsivo -->
 <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "bootbox.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js" %>
<%= stylesheet_link_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" %>

<%= javascript_include_tag "jquery.validate.js" %>
<%= javascript_include_tag "additional-methods.js" %>
<%= javascript_include_tag "messages_es.js" %>

<%= javascript_include_tag "jquery.dataTables.js" %>
<%= javascript_include_tag "bootstrap-treeview.js" %>

 
<%= javascript_include_tag "fnReloadAjax.js" %>

<%= javascript_include_tag "socialMedia.js" %>
  <style>
.error {
    color:red;
}
.valid {
    color:green;
}
</style>

