<!DOCTYPE html>
<html lang="en">
<head>
  <!--  PARA MANEJAR Ñ y ACENTOS y RESPONSIVO -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  TITULO DEL SITIO -->
  <title>CRUMBIK CRM</title>
 <%= javascript_include_tag "jquery.js" %>


    <!--ARCHIVOS CSS PARA BOOSTRAP -->
<!-- Latest compiled and minified CSS -->
 <%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <!--ESTILOS PARA EL ARBOL -->
    <%= stylesheet_link_tag    "extjs/arbolextjs.css" %>

   <%= stylesheet_link_tag  "bootstrap.css" %>
   <%= stylesheet_link_tag  "bootstrap-treeview.css" %>
   <%= stylesheet_link_tag  "simple-sidebar.css" %>
   <%= stylesheet_link_tag  "https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" %>
    
 
  




</head>

<body>
  <!-- === BARRA SUPERIOR  === -->
  <!-- === Inclusion de archivo  === -->
 <body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
      <a id="menu-toggle" class="navbar-brand" href="#menu-toggle">CRUMBIK CRM</a>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
          
    </ul>
    <form class="navbar-form navbar-left" role="search">
      
    </form>
    <ul class="nav navbar-nav navbar-right" role="search">
     <li><a href="#">Ayuda</a></li>
    <li><a href="#">Mensajes</a></li>
    <li><a href="#">Users Online</a></li>
    <li><a class="fa fa-pencil-square-o"  data-toggle="modal" 
                          data-target="#NewTuit">Tweet</a></li>
       
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Juan Perez <b class="caret"></b></a>
        <ul class="dropdown-menu">
         
          <li><a href="#">Cuenta</a></li>
          <li class="divider"></li>
          <li><a href="#">Salir</a></li>
          
        </ul>
      </li>
    </ul>
  </div>

    <script>
    // Menu Toggle Script 
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
    </script>
  <!-- === FIN DE BARRA SUPERIOR  === -->
</nav>


<!-- === INICIO INCLUSION BARRA LATERAL === -->
<div class="container-fluid">
  <div id="wrapper">
   <div class="container-fluid">
      <div id="wrapper">




        <!-- SIDERBAR CON ARBOL QUE SE CARGA POR JSON -->
      <div id="sidebar-wrapper">
         
         <div id="tree_el" class="arbol collapsed" style="margin-top:50px;"></div>
       <% content_for :javascript_personalizado do %>
         <!-- Incluya los javascripts: Extjs 5.1 -->

          <%= javascript_include_tag 'ext-all.js' %>
          
          <script> 
           //Escoger el idioma para los mensajes emergentes
           var s = document.createElement("script");
           s.type = 'text/javascript';
           s.src = <%= javascript_include_tag 'tree/ext-locale-es.js' %>;
           
           s.charset = 'ascii';
           document.getElementsByTagName("head")[0].appendChild(s);
          </script>

          <%= javascript_include_tag 'arbolOrganization.js' %>
         
    
       <% end%>
       </div>
    </div>
 </div>
 <!-- === FIN BARRA LATERAL === -->



<div id="NewTuit" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- === INICIO PANEL DE EDICIÓN === -->   
        <div class="panel panel-primary" align="center">
             <div class="panel-heading">
                <h2 class="text-center"> ¿Qué está pasando? </h2>
              </div>   
              <div class="panel-body">

                     <!-- === INPUTS TXT === -->  
                        <div class="form-group col-md-12">
                          <br>
                        <label for="ejemplo_email_1">Redactar un Tweet</label>
                        </div>
                        <div class="form-group col-md-12">
                          <textarea maxlength="140" id="txtTuit" placeholder="¿Qué está pasando?" rows="4" cols="50"></textarea>
                        </div>

                     <div class="modal-footer">
                    <!-- === BOTONES === -->  
                      <button type="submit" id="enviarTuit" class="btn btn-lg btn-info" name="tuiter">
                      <span class="glyphicons glyphicons-edit" aria-hidden="true"></span>Twittear</button>
                      <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
                   </div>
          </div>
      </div>
    </div>
</div>
    
   <%= javascript_include_tag "jquery.js" %>
   
  <%= javascript_include_tag 'jquery.js' %>

    <%= yield :javascript_personalizado %>
    <%= javascript_include_tag 'jQuery_Main.js' %>

   <!-- === FIN  BARRA LATERAL === -->      
   <br><!--Saltos de Linea-->
   <br>
   <br>


<%= yield %>


</div>
<!-- /#wrapper -->
</div>

</body>
</html>